@font-face {
  font-family: Virtue;
  font-style: normal;
  src: url("virtue.ttf");
}
@-webkit-keyframes blinky {
  0% {
    color: #000;
    background: #fff;
  }

  100% {
    color: #fff;
    background: #000;
  }
}
.clickyblinky {
  -webkit-animation-name: blinky;
  -webkit-animation-iteration-count: 3;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-duration: 0.1s;
}
input[type="file"] {
  display: none;
}
* {
  cursor: default;
}
::selection {
  color: #fff;
  background: #000;
}
::-moz-selection {
  color: #fff;
  background: #000;
}
html,
body,
#wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
body {
  font: 12px "Virtue", "Charcoal", "Chicago", sans;
  color: #fff;
  background: #000;
}
a {
  color: #000;
  font: 12px "Virtue", "Charcoal", "Chicago", sans;
}
#wrapper {
  border-radius: 5px;
  color: #000;
  background: #fff;
  background: #808080;
}
#menubar {
  color: #000;
  background: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  border-bottom: 1px solid #000;
  padding-left: 15px;
}
.window {
  display: none;
  color: #000;
  background: #fff;
  border: 1px solid #000;
  border-bottom-width: 2px;
  border-right-width: 2px;
  position: absolute;
  font: 12px "Geneva", "Verdana", sans;
  overflow: auto;
}
.window article {
  cursor: auto;
  margin: 10px;
  overflow: auto;
}
.window header {
  display: block;
  border-bottom: 1px solid #000;
  text-align: center;
  height: 18px;
  line-height: 17px;
  vertical-align: middle;
  overflow: hidden;
}
.window header .close {
  border: 1px solid #000;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 10px;
  top: 3px;
}
.window header h1 {
  color: #000;
  background: #fff;
  display: inline;
  margin: 0;
  padding: 0 5px 0 5px;
  font: 12px "Virtue", "Charcoal", "Chicago", sans;
}
.window.active header {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAARCAQAAABd/bWaAAAAAXNSR0IArs4c6QAAAAJiS0dEAP+Hj8y/AAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH2wYRChUI5zFo5gAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAdSURBVAjXY/z/n4GBiYEBSjAy/GdgYPlPFgthCgCXVw4awgk+lAAAAABJRU5ErkJggg==");
  margin-left: 1px;
  margin-right: 1px;
}
.window.headless {
  border: 1px solid #000;
  font: 12px "Virtue", "Charcoal", "Chicago", sans;
  text-align: center;
}
.window.headless article {
  padding: 10px 25px 10px 25px;
  margin: 2px;
  border: 2px solid #000;
}
button {
  color: #000;
  background: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  font: 12px "Virtue", "Charcoal", "Chicago", sans;
  height: 20px;
  line-height: 17px;
  vertical-align: middle;
}
button:active {
  color: #fff;
  background: #000;
}
button[disabled] {
  color: #808080;
}
button[disabled]:active {
  color: #000;
  background: #fff;
  color: #808080;
}
#menubar {
  margin: 0;
  padding: 0;
}
#menubar > li {
  display: inline;
  padding: 2px 10px 4px 10px;
  position: relative;
}
#menubar > li:first-of-type {
  margin-left: 10px;
}
#menubar > li ul.menu {
  display: none;
}
#menubar > li:hover {
  color: #fff;
  background: #000;
}
#menubar > li:hover ul.menu {
  position: absolute;
  left: 0px;
  top: 20px;
  display: block;
}
.menu {
  display: block;
  margin: 0;
  padding: 0;
  color: #000;
  background: #fff;
  list-style: none;
  border: 1px solid #000;
  border-bottom-width: 2px;
  border-right-width: 2px;
  position: absolute;
  min-width: 140px;
}
.menu li {
  padding: 2px 15px 2px 15px;
}
.menu li:hover {
  color: #fff;
  background: #000;
}
.menu li:hover a {
  color: #fff;
  background: #000;
}
.menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#progress {
  text-align: left;
}
.progressbar {
  margin-top: 4px;
  float: left;
  width: 150px;
  height: 10px;
  border: 1px solid #000;
}
.progressbar .progresslevel {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFUlEQVQImWNggID/SBiFgyLAgFUFALChDfPpdp57AAAAAElFTkSuQmCC");
  width: 0%;
  height: 100%;
}
#cancel {
  margin-left: 15px;
}
#main {
  display: block;
  left: 100px;
  top: 100px;
}
#helpwindow {
  left: 300px;
  top: 50px;
  width: 320px;
}
#aboutwindow {
  left: 120px;
  top: 120px;
}
#imagewell {
  border-radius: 5px;
  display: block;
}
#imagewell.empty {
  border: 1px dotted #000;
  height: 256px;
  width: 256px;
}
#imagewell.empty:after {
  height: 256px;
  width: 256px;
  text-align: center;
  font: 12px "Virtue", "Charcoal", "Chicago", sans;
  content: "drop image file here";
}
#imagewell.hover {
  height: 256px;
  width: 256px;
  border: 2px dashed #000;
}
